<H1> Data Science Tools and Ecosystem <H1>

#In this notebook, Data Science Tools and Ecosystem are summarized.

#Exercise 4 - Create a markdown cell to list data science languages
1. Python:
2. R
3. SQL

#Exercise 5 - Create a markdown cell to list data science libraries
1. NumPy
2. Pandas
3. Matplotlib

#Exercise 6 - Create a markdown cell with a table of Data Science tools
| Data Science Tools |
|--------------------|
| Jupyter notebooks  |
| Rstudio            |
| VSCode             |

In [13]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples
result_addition = 10+4
print (result_addition)

14

In [14]:
result_multi = 10*4
print (result_multi)

40

In [16]:
#Exercise 8 - Create a code cell to multiply and add numbers
result_multi_add= (3*4)+5
print (result_multi_add)

17

In [17]:
#Exercise 10 - Insert a markdown cell to list Objectives
minutes = 200
hours = 200/60
print (hours)

3.3333333333333335

#Exercise 9 - Create a code cell to convert minutes to hours

**objectives**
- explore popular lgangues
- identify commonly ued librairies in data sciences
- understand basic arithmetic expressions

#Exercise 11 - Create a markdown cell to indicate the Author's name
## Author
LI ZHOU